@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background : $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}


//Headings
h1,h2,h3 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;  
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background-color: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration:none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary{
    color:$secondary-color;
}

main {
    padding : 4rem;
    //height: 100%;     IF WE NEED STICKY FOOTER AT THE BOTTOM
    //                  we must make height of element above it to occupy rest of the space
    min-height: calc(100vh - 60px);
    .icons{
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color:$secondary-color;
                @include easeOut;
            }
        }
    }

    &#home{
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        height:200px;
        width:200px;
        border: 5px solid $secondary-color;
    }
    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1{
        grid-area: job1;
    }
    .job-2{
        grid-area: job2;
    }
    .job-3{
        grid-area: job3;
    }    
    .job {
        border: 1px solid $secondary-color;
        h2,h4{
            color: $secondary-color;    
            text-align: center;
            margin-bottom: 0rem;
        };        
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: 5px solid $secondary-color;
    }
}        

// Work/Projects
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem;
    
    img {
        width: 100%;
        border: solid 3px #fff;

        &:hover {
            opacity: 0.5;
            @include easeOut;
            border-color: $secondary-color;
        }
    }
}

//Contact Page
.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    div{
        width: 100%;
        border: solid 3px #fff;
        padding: 1.5rem 2.5rem;        
        &:hover{
            @include easeOut;
            background-color: $secondary-color;
            color:set-text-color($secondary-color);
            span{
                color:set-text-color($secondary-color);
            }
            box-shadow: $secondary-color 0 0 20px;
            border-radius: 10px;                
        }
    }        
}
// Button styles
.btn {
    display: block;
    border: 1px solid $secondary-color;
    padding: 0.5rem 1rem;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}   //btn is not defined in html, but we will extend this class to create btn-dark and btn-light class

.btn-dark {
    @extend .btn;
    background: darken($primary-color,50);
    color: #fff;
}
.btn-light {
    @extend .btn;
    background: lighten($primary-color,50);
    color: #000;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color,10);
    color: set-text-color($primary-color);

    // For Sticky Footer adjust the height of element above footer  
}


@import 'mobile'; //stays at bottom, so that media queries run after initial CSS